  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }

  .form-group {
    margin-bottom: rem(10);
  }

  .navbar-brand {
    color: $white
  }

  .exchange {
    img {
      width: 30px;
    }

    @media (max-width: 766px) {
      display: none !important;
    }
  }

  .dataLoading {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .loading {
    position: relative;

    span {

      &::after {
        content: url('#{$imgPath}/loading.svg');
        position: absolute;
        right: 10px;
        left: 10px;
        top: 50%;
        height: 30px;
        transform: translateY(-50%);
      }

      &-field::after {
        content: url('#{$imgPath}/loading.svg');
        position: absolute;
        right: 10px;
        top: 50%;
        height: 30px;
        transform: translateY(-50%);
        margin-top: -10px;
      }

    }

    &-btn {
      transition: none !important;
      background: url('#{$imgPath}/loading.svg') no-repeat center;
    }
  }

  .toast-container .ngx-toastr {
    &.toast-error {
      background-color: #ff4444;
    }

    &.toast-success {
      background-color: #00c851;
    }
  }

  .show-details {
    min-height: 56px;
  }


  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
